build/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
.vs/

CMakeCache.txt
cmake_install.cmake
Makefile

*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.a
*.lib
*.bin

*.log
*.tmp
referee/*.iml
referee/.idea/*.xml
referee/out/production/referee/.idea/*.xml
referee/out/production/referee/*.iml
referee/.idea/.gitignore
referee/out/production/referee/.idea/.gitignore
.gitignore
.gitignore
referee/out/production/referee/Arbitre.class
.gitignore
referee/out/production/referee/Arbitre$Joueur.class
